{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block content %}
<h1 align="center">Notes</h1>
<br />
<ul class="list-group list-group-flush" id="notes">
    {% for note in user.notes %}
    <li class="list-group-item">{{ note.data }}
        <button type="button" class="close" onclick="deleteNote({{ note.id }})">
            <span aria-hidden="true">&times;</span>
        </button>
    </li>
    {% endfor %}
</ul>

<form method="POST">
    <textarea class="form-control" id="note" name="note"></textarea>
    <br />
    <div align="center">
        <button class="btn btn-primary" type="submit">Add Note</button>
    </div>
</form>
{% endblock %}